<div id="imageContainer">
  <div class="card">
    <div class="card-image">
      <img [src]=imageObj.url>
      <span class="card-title">{{imageObj.caption}}</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a>This is a Dummy link</a>
    </div>
  </div>
  <p><a class="waves-effect waves-light btn" [routerLink]="['']">Back</a></p>
</div>