<div id="categoriesBtnContainer">
  <button class="waves-effect waves-light btn" data-category='all' (click)="filterImagesList($event)">All</button>
  <button class="waves-effect waves-light red darken-3 btn" data-category='boats' (click)="filterImagesList($event)">Boats</button>
  <button class="waves-effect waves-light indigo accent-1 btn" data-category='camping' (click)="filterImagesList($event)">Camping</button>
  <button class="waves-effect waves-light orange darken-2 btn" data-category='library' (click)="filterImagesList($event)">Library</button>
</div>